@model Laboratorio04.Models.Producto

@{
    ViewData["Title"] = "Eliminar Producto";
}

<h1>Eliminar Producto</h1>

<h3>¿Está seguro de que desea eliminar este producto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Id</dt>
        <dd class="col-sm-9">@Model.Id</dd>
        
        <dt class="col-sm-3">Nombre</dt>
        <dd class="col-sm-9">@Model.Nombre</dd>
        
        <dt class="col-sm-3">Precio</dt>
        <dd class="col-sm-9">@Model.Precio.ToString("C")</dd>
        
        <dt class="col-sm-3">Categoría</dt>
        <dd class="col-sm-9">@Model.Categoria</dd>
    </dl>
    
    <form asp-action="Eliminar" asp-controller="Productos" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-eliminar" />
        <a asp-action="Index" class="btn btn-cancelar">Volver al Listado</a>
    </form>
</div>
